<!--File for Calorie Calculator Page using extension from base html-->

{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
	<h1>Calorie Calculator</h1>
	<p>The calorie calculator tool will provide students with recipe
		suggestions to fulfill their daily caloric needs.</br>
		<ul><li>If you don't know how many calories you have consumed today,
		 <a href="https://caloriecontrol.org/healthy-weight-tool-kit/food-calorie-calculator/" target=”_blank”>click here</a>
		 to calculate your intake so far.</li>
		 <li>If you don’t know your daily caloric goal,
			<a href="https://www.calculator.net/calorie-calculator.html" target=”_blank”>click here</a>
			to find your optimal intake based on metrics such as your
			weight, height, age, and gender.</li></ul>
	 </p>
</div>

<div class="container" id="calorieCalcContainer" style="width: 25rem; float:none;" >
	{% if error != None %}
		<div class='alert alert-warning' role='alert'> {{error}}</div>
	{% endif %}
  <form method="POST" >
    {{form.hidden_tag()}}

    <div class="form-group">
      {{form.daily_calories.label(class="form-group")}}
      {{form.daily_calories(class='form-control')}}
    </div>
    <div class="form-group">
      {{form.calorie_goal.label(class="form-group")}}
      {{form.calorie_goal(class='form-control')}}

    </div>

    <div class="form-group">
      {{form.submit(class='btn btn-info')}}
    </div>
  </form>
</div>

{% endblock %}
