<footer class="page-footer font-small">
	<div class="footer-copyright text-center py-3" class="text-dark"> © 2020 Copyright:
		<a href="https://github.com/smithkaylar" class="text-dark">Kayla S, </a>
		<a href="https://github.com/shabazzm" class="text-dark">Maryum S, </a>
		<a href="https://github.com/BlkHalo" class="text-dark">Livia B, </a>
		<a href="https://github.com/mittalj" class="text-dark">Jasmine M, </a>
		<a href="https://github.com/codeacode1" class="text-dark">Rebecca D</a>
	</div>

</footer>