{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    <h1>Grub Geeks</h1>
    <p>Welcome to the recipe sharing forum!</p>
    <!--https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
    {% with confirmations = get_flashed_messages(category_filter=["UserPost"]) %}
    {% if confirmations %}
    <div class="confirmation">
      {%- for msg in confirmations %}
        <li class="confirmMessage">{{ msg }}</li>
      {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}
  </div>

    {# <h1> Total Posts: {{post_count}}</h1> #}

    <a href="/add_post" class="btn btn-primary"> Add Post </a>

    <div class="container">
        {# Go through each blog post #}
        {% for post in posts %}
          <div class="card" >
            <div class="card-body">
                    <h2><a class="card-title">{{ post.subject }}</a></h2>
                    <a href="/post/{{post.post_id}}" class="btn btn-primary">Read More </a>

            </div>
          </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
