{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 35rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\green_beans.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Green Beans Almondine</h3>
    <p>SERVES 4</p>
    <p>PREP TIME 10 MINUTES</p>
    <p>COOKING TIME 10 MINUTES</p>

    <p>79 CALORIES</p>
    <p>3 GRAMS PROTEIN</P>
    <p>10 GRAMS CARBOHYDRATES</p>
    <p>5 GRAMS FAT<p>

      <ul>
        <li>Salt and ground black pepper, to taste</li>
        <li>1 pound fresh green beans, trimmed</li>
        <li>1/2 teaspoon extra-virgin olive oil</li>
        <li>1/4 cup slivered almond</li>
      </ul>

    <ol>
      <li>Bring a large pot of lightly salted water to a boil over high heat. Add
       green beans and boil until tender, about 2 to 4 minutes.</li>
      <li>Drain beans and transfer them to a large bowl. Drizzle with olive oil and
      season with salt and pepper; toss.</li>
      <li>Warm a large nonstick skillet over medium-high heat. Coat almonds with
      cooking spray and add to the hot skillet. Stir frequently until toasted,
      about 2 to 3 minutes.</li>
      <li>Reduce heat to medium and add the green beans. Cook for another 2 minutes,
       stirring occasionally. Remove from heat and serve.</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
