{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 35rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\lemon_rosemary_salmon.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Lemon-Rosemary Salmon Steaks</h3>
    <p>SERVES 4</p>
    <p>PREP TIME 5 MINUTES, PLUS 15 MINUTES TO MARINATE</p>
    <p>COOKING TIME 15 TO 20 MINUTES</p>
    <p>226 CALORIES</p>
    <p>34 GRAMS PROTEIN</p>
    <p>0 GRAMS CARBOHYDRATES</p>
    <p>9 GRAMS FAT</P>

    <ul>
      <li>1 tablespoon lemon juice</li>
      <li>1/2 teaspoon dried rosemary</li>
      <li>1 tablespoon extra-virgin olive oil</li>
      <li>4 (6-ounce) wild Pacific salmon fillets</li>
      <li>Salt and ground black pepper, to taste</li>
    </ul>

    <ol>
      <li>Preheat the oven to 350F. In a medium baking dish, combine lemon
         juice, rosemary, and olive oil.</li>
      <li>Season salmon fillets with salt and pepper. Add fillets to the baking
         dish, turn to coat, and let marinate for 10 to 15 minutes.</li>
      <li>Cover dish with foil and bake until fish easily flakes with a fork,
         about 20 minutes. Remove from oven and serve.</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
