<!--File for Login Page using extension from base html-->

{% extends "base.html" %}
{% block content %}
<div class="container "style="width: 25rem; margin:0 auto; float:none;" >
  <form method="POST" >
    {{form.hidden_tag()}}

    <div class="form-group">
      {{form.email_address.label(class="form-group")}}
      {{form.email_address(class='form-control')}}
    </div>
    <div class="form-group">
      {{form.password.label(class="form-group")}}
      {{form.password(class='form-control')}}
    </div>
    <div class="form-group">
      {{form.submit(class='btn btn-info')}}
    </div>



    <div class="login-signup">
            <span>Don't have an account? <a href="{{ url_for('register') }}">Sign up.</a></span>
    </div>
  </form>
</div>

{% endblock %}
