{% extends "base.html" %}
{% block content %}

<div class="container mx-auto" style="width: 50rem; float:none; margin-top:1rem">
    <div class="card">
      <div class="card-body">
		<h1>{{ post.subject }} </h1>
		<h3> Posted by: {{ author.user_name }} on {{ post.date_created.strftime('%m-%d-%Y') }} at {{ post.date_created.strftime('%H:%M') }} </h3>
		<p> {{ post.main_post_content }} </p>
      </div>
    </div>
		<hr>
		{% if current_user.is_authenticated %}
				<form method="post">
						{{form.hidden_tag()}}
						<h3>Post A Reply:</h3>{{form.reply_content(class="form-control", rows="3")}} <br>
						{{form.submit(class="btn btn-info")}}
				</form>
		{% else %}
				<a href="/login">Login</a> or <a href="/register">Register</a> to post a reply.
		{% endif %}
		<hr>

		{% with confirmations = get_flashed_messages(category_filter=["UserReply"]) %}
		{% if confirmations %}
		<div class="confirmation">
			{%- for msg in confirmations %}
				<li class="confirmMessage">{{ msg }}</li>
			{% endfor -%}
		</div>
		{% endif %}
		{% endwith %}
        <h4> Replies: {{ reply_count }} </h4>
		{% for reply in replies %}
		<div class="card" style="margin-top:1rem">
				<div class="card-body">
                        <p> Posted by: {{ reply.user_name }} on {{ reply.date_created.strftime('%m-%d-%Y') }} at {{ post.date_created.strftime('%H:%M') }} </p>
						<p> {{ reply.reply_content }} </p>
						
				</div>
		</div>
		{% endfor %}
</div>

{% endblock %}
