<!--File for Register using extension from base html-->

{% extends "base.html" %}
{% block content %}

  <div class="container " style="width: 25rem; margin:0 auto; float:none;" >
    <form method="POST" >
      {{form.hidden_tag()}}

      <div class="form-group">
        {{form.email_address.label(class="form-group")}}
        {{form.email_address(class='form-control')}}
        {% if form.email_address.errors %}
         <ul class="errors">
           {% for error in form.email_address.errors %}
             <li>{{ error }}</li>{% endfor %}
         </ul>
       {% endif %}
      </div>
      <div class="form-group">
        {{form.user_name.label(class="form-group")}}
        {{form.user_name(class='form-control')}}
        {% if form.user_name.errors %}
         <ul class="errors">
           {% for error in form.user_name.errors %}
             <li>{{ error }}</li>{% endfor %}
         </ul>
       {% endif %}
      </div>
      <div class="form-group">
        {{form.password.label(class="form-group")}}
        {{form.password(class='form-control')}}
        {% if form.password.errors %}
         <ul class="errors">
           {% for error in form.password.errors %}
             <li>{{ error }}</li>{% endfor %}
         </ul>
       {% endif %}
      </div>
      <div class="form-group">
        {{form.pass_confirm.label(class="form-group")}}
        {{form.pass_confirm(class='form-control')}}
        {% if form.pass_confirm.errors %}
         <ul class="errors">
           {% for error in form.pass_confirm.errors %}
             <li>{{ error }}</li>{% endfor %}
         </ul>
       {% endif %}
      </div>
      <div class="form-group">
        {{form.submit(class='btn btn-info')}}
      </div>
    <!--referenced https://stackoverflow.com/questions/30497236/python-flask-flash-not-working-correctly/30497806-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
           {% for message in messages %}
            <div class="message_flash">{{ message }}</div>
           {% endfor %}
       </ul>
     {% endif %}
    {% endwith %}
    <div class="login-signup">
      <span>Already have an account? <a href="{{ url_for('login') }}">Log in.</a></span>
    </div>
    </form>
  </div>
{% endblock %}
