{% extends "base.html" %}
{% block content %}

  <div class="card" style="width: 35rem; margin:0 auto; float:none;">
    <img class="card-img-top" src="static\bsprouts.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
      <h3>Roasted Brussels Sprouts</h3>

      <p>SERVES 4</p>
      <p>PREP TIME 15 MINUTES</p>
      <p>COOKING TIME 45 MINUTES</p>

      <p>164 CALORIES</p>
      <p>6 GRAMS PROTEIN</p>
      <p>16 GRAMS CARBOHYDRATES</p>
      <p>11 GRAMS FAT</p>

      <ul>
        <li>1 1/2 pounds Brussels sprouts, ends trimmed and yellow leaves removed</li>
        <li>3 tablespoons extra-virgin olive oil</li>
        <li>Salt and ground black pepper, to taste</li>
        <li>1/4 cup chopped fresh cilantro</li>
      </ul>

      <ol>
        <li>Preheat oven to 400F.</li>
        <li>Place Brussels sprouts, olive oil, salt, and pepper into a large Ziploc
         bag. Seal tightly and shake to coat.</li>
        <li>Pour onto a baking sheet and roast in the oven for 30 to 45 minutes.
         Shake the pan halfway through cooking for even browning. Brussels sprouts
          should be dark brown, almost black, when done.</li>
        <li>Garnish with a sprinkling of chopped cilantro and serve immediately.</li>
      </ol>

    </p>
    </div>
  </div>


{% endblock %}
