{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 35rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\white_bean_soup.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>White Bean Soup with Turkey Sausage and Kale </h3>
    <p>SERVES 4</p>
    <p>PREP TIME 20 MINUTES</p>
    <p>COOKING TIME 30 MINUTES</p>
    <p>351 CALORIES</p>
    <p>34 GRAMS PROTEIN</p>
    <p>20 GRAMS CARBOHYDRATES</p>
    <p>16 GRAMS FAT</p>

    <ul>
      <li>2 teaspoons extra-virgin olive oil</li>
      <li>1 onion, chopped</li>
      <li>1 clove garlic, minced</li>
      <li>1 1/4pounds lean turkey sausage, casings removed</li>
      <li>6 cups low-sodium chicken broth</li>
      <li>1 cup canned white beans, drained and rinsed</li>
      <li>1 cup roughly chopped kale (stems removed)</li>
      <li>Salt and ground black pepper, to taste</li>
    </ul>

    <br>

    <ol>
      <li>In a medium heavy-duty pot, warm oil over medium-high heat. Add onion
         and garlic, sauteing for 2 to 3 minutes. Add sausage, using a wooden
         spoon to break the meat into small pieces. Saute for 5 to 6 minutes,
          stirring frequently, until the meat is cooked through.</li>
      <li>Stir in chicken broth and beans. Cover with a lid and simmer on low
        heat for 10 minutes.</li>
      <li>Add the kale and continue simmering with the pot covered for another
        10 minutes.</li>
      <li>Season with salt and pepper, and divide soup into 4 bowls to serve.</li>
    </ol>





  </p>
  </div>
</div>

{% endblock %}
