{% extends "base.html "%}
{% block content %}
<div class="card" style="width: 50rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\chicken_quesadila.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h1>Recipe Name </h1>
    Chunky Chicken Quesadilla

    SERVES 2
    PREP TIME 5 MINUTES
    COOKING TIME 15 MINUTES

    315 CALORIES
    30 GRAMS PROTEIN
    28 GRAMS CARBOHYDRATES
    9 GRAMS FAT

    1 (6-ounce) boneless, skinless chicken breast, trimmed of fat
    1 tablespoon low-fat sour cream
    2 (8-inch) whole-wheat tortillas
    1/3 cup salsa
    1 cup shredded lettuce
    1/3 cup shredded low-fat cheddar cheese


    1 Coat a medium nonstick skillet with cooking spray and warm over medium heat. Add chicken and cook for 3 to 5 minutes per side. Once fully cooked, transfer chicken to a cutting board.
    2 Spread sour cream onto 1 tortilla. Slice chicken breast and layer it over sour cream, topping with salsa and lettuce. Sprinkle with cheese and top with the other tortilla.
    3 Recoat skillet with cooking spray and warm over low heat. Cook quesadilla until golden, about 3 minutes per side, using a large spatula to carefully flip it. Remove from the skillet, slice, and serve

  </p>
  </div>
</div>

{% endblock %}
