{% extends "base.html "%}
{% block content %}
<div class="card" style="width: 25rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\chicken_quesadila.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Chunky Chicken Quesadilla</h3>

    <p>SERVES 2</p>
    <p>PREP TIME 5 MINUTES</p>
    <p>COOKING TIME 15 MINUTES</p>

    <p>315 CALORIES</p>
    <p>30 GRAMS PROTEIN</p>
    <p>28 GRAMS CARBOHYDRATES</p>
    <p>9 GRAMS FAT</p>

    <ul>
      <li>1 (6-ounce) boneless, skinless chicken breast, trimmed of fat</li>
      <li>1 tablespoon low-fat sour cream</li>
      <li>2 (8-inch) whole-wheat tortillas</li>
      <li>1/3 cup salsa</li>
      <li>1 cup shredded lettuce</li>
      <li>1/3 cup shredded low-fat cheddar cheese</li>
    </ul>

    <ol>
      <li>Coat a medium nonstick skillet with cooking spray and warm over medium
      heat. Add chicken and cook for 3 to 5 minutes per side. Once fully cooked,
       transfer chicken to a cutting board.</li>
      <li>Spread sour cream onto 1 tortilla. Slice chicken breast and layer it over
       sour cream, topping with salsa and lettuce. Sprinkle with cheese and top
        with the other tortilla.</li>
      <li>Recoat skillet with cooking spray and warm over low heat. Cook quesadilla
      until golden, about 3 minutes per side, using a large spatula to carefully
       flip it. Remove from the skillet, slice, and serve</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
