<!--File for homepage using extension for entree gallery htnml-->

{% extends "base.html "%}
{% block content %}
<!--
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('chicken_quesadila') }}"><img class="card-img-top" src="static\chicken_quesadila.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Chicken Quessadilla
        </div>
      </div>


    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\bsprouts.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Roasted Brussel sprouts
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\green_beans.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Green Beans Almondine
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\lemon_rosemary_salmon.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Lemon Rosemary Salmon
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\orange_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Orange  Honey Chicken
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\sweet_potato_chips.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Sweet Potato Chips
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\white_bean_soup.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          White Bean Soup
        </div>
    </div>
  </div
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\thai_basil_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Thai Basil Chicken
       </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\italian_parmesean_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Italian Parmesan Chicken
        </div>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('chicken_quesadila') }}"><img class="card-img-top" src="static\chicken_quesadila.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Chicken Quessadilla
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\bsprouts.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Roasted Brussel sprouts
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\green_beans.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Green Beans Almondine
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\lemon_rosemary_salmon.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Lemon Rosemary Salmon
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\orange_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Orange  Honey Chicken
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\sweet_potato_chips.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Sweet Potato Chips
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\white_bean_soup.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          White Bean Soup
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\thai_basil_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Thai Basil Chicken
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('roasted_bsprouts') }}"><img class="card-img-top" src="static\italian_parmesean_chicken.jpg" alt="Card image cap"></a>
      </div>
        <div class="card-body">
          Italian Parmesan Chicken
        </div>
    </div>

</div>
{% endblock %}
