{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 25rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\italian_parmesean_chicken.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Simple Italian Parmesean Chicken</h3>
    <p>SERVES 4</p>
    <p>PREP TIME 5 MINUTES</p>
    <p>COOKING TIME 25 MINUTES</p>
    <p>290 CALORIES</p>
    <p>42 GRAMS PROTEIN</p>
    <p>6 GRAMS CARBOHYDRATES</p>
    <p>11 GRAMS FAT</p>

    <ul>
      <li>2 tablespoons extra-virgin olive oil</li>
      <li>2 teaspoons minced garlic</li>
      <li>1/4 cup seasoned breadcrumbs</li>
      <li>1/4 cup grated Parmesan cheese</li>
      <li>4 (6-ounce) boneless, skinless chicken breasts, trimmed of fat</li>
    </ul>

    <ol>
      <li>Preheat the oven to 425F.</li>
      <li>In a medium heatproof bowl, add olive oil and garlic. Warm in the
      microwave for 30 to 60 seconds to blend flavors. In a separate medium bowl,
       combine breadcrumbs and cheese.</li>
      <li>Coat chicken breast in the oil mixture, letting the excess run off. Then,
       coat in the breadcrumb mixture and place in a shallow baking dish. Repeat
        until all chicken breasts are breaded.</li>
      <li>Place chicken in the oven for 10 minutes, then flip and cook until chicken
       is no longer pink in the center and juices run clear, about another 10 to
       15 minutes. Remove from oven and serve</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
