{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 25rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\orange_chicken.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Orange and Honey-Glazed Chicken</h3>
    <p>SERVES 4</p>
    <p>PREP TIME 5 MINUTES</p>
    <p>COOKING TIME 25 MINUTES</p>

    <p>216 CALORIES</p>
    <p>39 GRAMS PROTEIN</p>
    <p>10 GRAMS CARBOHYDRATES</p>
    <p>2 GRAMS FAT</p>

    <ul>
      <li>4 (6-ounce) boneless, skinless chicken breasts, trimmed of fat</li>
      <li>2 tablespoons orange juice</li>
      <li>2 tablespoons honey</li>
      <li>1 tablespoon lemon juice</li>
      <li>1/8 teaspoon salt</li>
    </ul>

    <ol>
      <li>Preheat the oven to 375F.</li>
      <li>Coat a 9-inch by 13-inch baking dish with cooking spray and add
        chicken.</li>
      <li>In a small bowl, mix orange juice, honey, lemon juice, and salt. Baste
      each piece of chicken with the orange juice mixture.</li>
      <li>Cover the dish with foil and bake for 10 minutes. Remove the foil and
      flip chicken. Bake chicken another 10 to 15 minutes until cooked through
      and juices run clear</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
