{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 25rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\sweet_potato_chips.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Sweet Potato Chips</h3>
    <p>SERVES 6</p>
    <p>PREP TIME 5 MINUTES</p>
    <p>COOKING TIME 25 MINUTES</p>

    <p>61 CALORIES</p>
    <p>1 GRAM PROTEIN</p>
    <p>10 GRAMS CARBOHYDRATES</p>
    <p>2 GRAMS FAT</p>

    <ul>
      <li>2 medium sweet potatoes (5 ounces each), peeled and thinly sliced</li>
      <li>1 tablespoon extra-virgin olive oil</li>
      <li>1/2 teaspoon salt</li>
    </ul>

    <ol>
      <li>Position one rack in the center of the oven and one in the lower
        position. Preheat the oven to 400F. Prepare 2 baking sheets by coating
         with cooking spray.</li>
      <li>Add sweet potatoes to a large bowl and drizzle with olive oil. Toss to
         coat with tongs or clean hands. Spread potatoes in an even layer on
         both baking sheets and place in the oven.</li>
      <li>Bake potatoes, flipping once halfway through cooking time, until
        centers are soft and edges are slightly crispy, about 22 to 25 minutes.
         Sprinkle with salt and serve.</li>
    </ol>

  </p>
  </div>
</div>

{% endblock %}
