{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 25rem; margin:0 auto; float:none;">
  <img class="card-img-top" src="static\thai_basil_chicken.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
    <h3>Thai Basil Chicken </h3>
    <p>SERVES 4</p>
    <p>PREP TIME 5 MINUTES</p>
    <p>COOKING TIME 15 MINUTES</p>
    <p>220 CALORIES</p>
    <p>40 GRAMS PROTEIN</p>
    <p>5 GRAMS CARBOHYDRATES</p>
    <p>4 GRAMS FAT</p>

    <ul>
      <li>4 (6-ounce) boneless, skinless chicken breasts, trimmed of fat</li>
      <li>3 cloves garlic, peeled and minced</li>
      <li>2 jalapeno peppers, minced</li>
      <li>1 tablespoon fish sauce</li>
      <li>1 tablespoon granulated sugar</li>
      <li>1/4 cup chopped fresh basil</li>
      <li>1 tablespoon chopped fresh mint</li>
      <li>1 tablespoon chopped unsalted dry-roasted peanuts</li>
    </ul>

    <ol>
      <li>Cut each chicken breast into about 8 strips. Set aside.</li>
      <li>Coat a large nonstick skillet with cooking spray and warm over
      medium-high heat. Add garlic and jalapenos. Saute, stirring constantly,
       until garlic is just golden.</li>
      <li>Add chicken strips and cook, stirring frequently, until chicken is fully
       cooked, about 8 to 10 minutes.</li>
      <li>Add fish sauce and sugar. Saute for 30 seconds and remove from heat.
       Garnish with basil, mint, and peanuts before serving.</li>
    </ol>






  </p>
  </div>
</div>

{% endblock %}
